#outputAddition {
  border: solid 1px black;
  width:10%
}

#outputSubtraction {
  border: solid 1px black;
  width:10%
}

#outputMultiplication {
  border: solid 1px black;
  width:10%
}

#outputDivision {
  border: solid 1px black;
  width:10%
}